# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.

# Trello variables
TRELLO_API_KEY=secret-key
TRELLO_TOKEN=secret-token
BOARD_ID=board-id